body {
    /*background-image: url('wood.png');*/
    font-family: 'Microsoft Yahei', Tahoma, Arial, Helvetica, Simsun, STHeiti;
    background-attachment:fixed;
    /*min-width: 1176px;*/
}

.header{
   /*margin-left: auto;*/
   /*margin-right: 0px;*/
   padding-left: 45%;
    z-index: -1;
   width: 735px;
   position: fixed;
   background: rgba(230, 232, 204, 0.2);
}

.content p{
    margin: 10px auto;
    width: 735px;
    overflow:visible;
}

.content {
    padding-top: 130px;
    margin-left: 10%;
    margin-right: auto;
    width: 735px;
}

a {
    text-decoration: none;
}

.contact {
    font-size: 50px;
}

.big-name {
    font-size: 123px;

    /*font-family: 'Swanky and Moo Moo', cursive;*/
}

.big-name a{
    text-decoration: none;
}

.big-name {
    color: #1813aa;
}

.detail {
    font-size: 50px;
}

.contact .detail{
    display: none;
}

.contact:hover .detail{
    display: inline;
}

.detail {
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 7px 10px;
    background-color: #eaeaea;
}

.desc {
    padding-left: 80px;
    padding-right: 80px;
    color: #1813aa;
}

a:visited, a:hover, a:link, a:-webkit-any-link{
    color: #1813aa;
}

.contact:hover .desc {
    background-color: #eaeaea;
}

.footer a{
    color: #eaeaea;
    position:fixed;
    font-size: 100px;
    /*padding-top: 300px;*/
    padding-right: 10px;
    padding-bottom: 10px;
    right: 0;
    bottom: 0;
}

#main-message {
    color: #1813aa;
    font-size: 100px;
    padding-top: 40%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.smile{
    display: none;
}
.footer:hover .smile{
    display: inline;
}
/*.detail-img {*/
    /*position: fixed;*/
    /*opacity: 0.2;*/
    /*left:5%;*/
    /*top:10%;*/
    /*z-index: -1;*/
/*}*/